@{
    ViewData["Title"] = "Shop";
}
@model PaginateVM

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<partial name="_ProductPartial" model="@Model" view-data='ViewData' />

@section Scripts {
    @if (ViewData["CategoryId"] != null && ViewData["SearchedName"] != null)
    {
        <script>
            function navigateToUrl(selectElement) {
                var selectedValue = selectElement.value;
                var categoryId = "@ViewData["CategoryId"]";
                var searchedName = "@ViewData["SearchedName"]";
                var url = `/product/index?categoryId=${categoryId}&searchedName=${searchedName}&pageSize=${selectedValue}`;
                window.location.href = url;
            }
        </script>
    }
    @if (ViewData["CategoryId"] != null && ViewData["SearchedName"] == null)
    {
        <script>
            function navigateToUrl(selectElement) {
                var selectedValue = selectElement.value;
                var categoryId = "@ViewData["CategoryId"]";
                var url = `/product/index?categoryId=${categoryId}&pageSize=${selectedValue}`;
                window.location.href = url;
            }
        </script>
    }
    @if (ViewData["CategoryId"] == null && ViewData["SearchedName"] != null)
    {
        <script>
            function navigateToUrl(selectElement) {
                var selectedValue = selectElement.value;
                var searchedName = "@ViewData["SearchedName"]";
                var url = `/product/index?searchedName=${searchedName}&pageSize=${selectedValue}`;
                window.location.href = url;
            }
        </script>
    }
    @if (ViewData["CategoryId"] == null && ViewData["SearchedName"] == null)
    {
        <script>
            function navigateToUrl(selectElement) {
                var selectedValue = selectElement.value;
                var url = `/product/index?pageSize=${selectedValue}`;
                window.location.href = url;
            }
        </script>
    }
}
