@model List<Product>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 200px;">Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 200px;">Description</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Image</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">ExTax Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Discount Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Rating</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Type</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Category</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Brand</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">In Stock?</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @foreach (var product in Model)
                                        {
                                            <td>@product.Name</td>
                                            <td>@product.Description</td>
                                            <td><img width="100" src="~/client/assets/imgs/products/@product.ProductImages.FirstOrDefault(x => x.IsMain).Url" /></td>
                                            <td>@product.ExTaxPrice</td>
                                            <td>@product.DiscountPrice</td>
                                            <td>@product.Price</td>
                                            <td>@product.Rating</td>
                                            <td>@product.BookType</td>
                                            <td>@product.Category.Name</td>
                                            <td>@product.Brand.Name</td>
                                            <td>@(product.IsInStock ? "Yes" : "No")</td>
                                            <td style="display:flex; gap:8px; align-items:center; justify-content:center;border-bottom:none;">
                                                <a class="btn btn-secondary" asp-route-id="@product.Id" asp-controller="Product" asp-action="Detail">Detail</a>
                                                <a class="btn btn-primary" asp-route-id="@product.Id" asp-controller="Product" asp-action="Edit">Edit</a>
                                                <a class="btn btn-danger mt-2" asp-route-id="@product.Id" asp-controller="Product" asp-action="Delete">Delete</a>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing @Model.Count entries</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>