@model List<Category>

@if (Model == null) return;

@foreach (var category in Model.Where(c => c.ParentId == null))
{
    bool hasChildren = Model.Any(s => s.ParentId == category.Id);
    <li class="cat-item @(hasChildren ? "has-children" : "")">
        <a asp-controller="product" asp-action="index" asp-route-categoryId="@category.Id">@category.Name</a>
        @if (hasChildren)
        {
            <ul class="sub-menu">
                @foreach (var subcategory in Model.Where(s => s.ParentId == category.Id))
                {
                    <li><a asp-controller="product" asp-action="index" asp-route-categoryId="@subcategory.Id">@subcategory.Name</a></li>
                }
            </ul>
        }
    </li>
}
